body{
        background: #fff;
    }
    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    .container{
    width: 100%;
    height: 5em;
    display: flex;
    position: absolute;
    z-index: 1;
  }
   p{
    color: white;
  }
  p,.p1{
    font-size: 2em;
    transform: translate(1em,0.8em);
    
  }
  .p1{
    color: red;
  }
   .a{
    transform: translate(0em,2.4em);
    place-self: center;
    position: relative;
    z-index: 1;
  }
  .href{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
  }
  .btn{
    background: red;
    border: none;
    cursor: pointer;
    /* width: 5.9em;
    height: 2.5em; */
    padding: 10px 15px;
    border-radius: 1em;
    float: right;
    position: relative;
    transform: translate(-2em,0.5em);
    z-index: 1;
    color: white;
  }
  .btn:hover{
    scale: 1.08;
  }
  .btn1:hover{
    scale: 1.02;
  }
   .src{
    background-size: cover;
    height: 35em;
    width: 100%;
    transform: translate(0em,-3.3em);
    animation: src  10s ease-in-out infinite forwards;
  }
  .text{
    color: white;
    width: 26%;
    transform:translate(2em,-24em) ;
    opacity: 0;
    animation: moveup 0.9s linear forwards;
  }
  @keyframes moveup {
    100%{
      opacity: 1;
      transform:translate(2em,-26.5em) ;
    }
  }
  .h1{
    font-size: 3em;
  }
  .h2{
    transform:translate(0em,0.4em) ;
    color: red;
    font-size: 2em;
  }
  .paragraph{
    transform:translate(0em,1.5em) ;
    font-size: 1.2em;
    width: 190%;
  }
  .btn1{
    background: red;
    border: none;
    cursor: pointer;
    width: 12.9em;
    height: 3.5em;
    border-radius: 1em;
    transform: translate(0em,2.2em);
    z-index: 1;
    color: white;
    position: absolute;
  }
  .btn2{
    background: red;
    border: none;
    cursor: pointer;
    width: 10.9em;
    height: 3.5em;
    border-radius: 1em;
    transform: translate(0.6em,3.2em);
    z-index: 1;
    color: white;
  }
  .href:hover{
  color: red;
}
.container1{
    width: 60em;
    height: 26em;   
    place-self: center;
    transform: translate(0em,-5em);
}
.h{
    font-size: 2em;
    color: white;
    font-family: sans-serif;
}
.spam{
    color: red;
    font-family: sans-serif;
    font-size: 1.1em;
}
span{
    font-size: 1.1em;
    color: white;
}
.me{
    font-size: 0.9em;
    width: 100%;
    font-family: sans-serif;
    color: white;
}
.chat{
    padding: 10px 30px;
    border-radius: 2em;
    border: none;
    cursor: pointer;
}
.chat:hover{
    background: red;
    color: white;
}
.sub{
    margin-left: 27em;
    transform: translate(0em,4em);
}
.images{
    width: 20em;
    height: 24em;
    transform: translate(3em,-14.9em);
}
.container2{
    background:transparent ;
    width: 100%;
    height: 12em;   
    transform: translate(0em,-1.5em);
}
.text2{
  font-size: 1.5em;
  display: inline-block;
  font-family: sans-serif;
}
.sub-text2{
 text-align: center;
 transform: translate(0em,1.5em);
}
.services-section {
  text-align: center;
  padding: 50px 50px;
  background-color: black;
  color: white;
  /* height: 30em; */
}

.services-section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.service-card {
  background-color: #1e1e1e;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.icon {
  font-size: 40px;
  color: #f44;
  margin-bottom: 15px;
}

.service-card h3 {
  margin-bottom: 10px;
}

.service-card p {
  font-size: 14px;
  margin-bottom: 20px;
}

button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #ff6666;
}
.program{
  background: black;
  width: 100%;
  height: 16em;
  text-align: center;
}
.program1{
  color: white;
  font-size: 1.7em;
  transform: translate(0em,1em);
}
.Lorem{
  font-family: sans-serif;
  font-size: 1em;
  display: inline-block;
  transform: translate(0em,2.5em);
}
.rem{
  font-family: sans-serif;
  font-size: 1em;
  display: inline-block;
  transform: translate(-7.5em,0em);
  position: absolute;
  color: red;
}
.telegram{
  width: 2.5em;
  height: 2.5em;
}
.href1{
  text-decoration: none;
  color: white;
}
@media (max-width :955px) {
    .me{
    font-size: 0.9em;
    width: 100%;
    font-family: sans-serif;
    color: white;
}
.sub{
    width: 50%;
    margin-left: 25em;
    transform: translate(0em,4em);
    font-size: 0.8em;
    float: right;
}
.container1{
    width: 100%;
    height: 26em;
    place-self: center;
    transform: translate(0em,-6em);
}
.images{
    width: 45%;
    height: 24em;
    transform: translate(0em,-14.9em);
}
}
@media (max-width : 535px) {
  .me{
    font-size: 0.9em;
    width: 100%;
    font-family: sans-serif;
    color: white;
}
  .images{
    width: 100%;
    height: 24em;
    transform: translate(0em,0em);
}
      .href{
    text-decoration: none;
    color: white;
    padding: 10px 10px;
  }
  .sub{
    width: 80%;
    transform: translate(-21em,4em);
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
}
 .a{
    transform: translate(0.9em,2.4em);
    place-self: center;
    position: relative;
    z-index: 1;
  }
  .text2{
  font-size: 1.1em;
  display: inline-block;
  font-family: sans-serif;
}
.rem{
  font-family: sans-serif;
  font-size: 1em;
  display: inline-block;
  transform: translate(-7.5em,0em);
  position: absolute;
  color: red;
}
}
@media (max-width :450px) {
.a{
display:none
}
  .rem{
  font-family: sans-serif;
  font-size: 0.8em;
  display: inline-block;
  transform: translate(0em,0em);
  margin-left: -7em;
  color: red;
}  
  .text2{
    width: 100%;
  margin-left: -2em;
  font-size: 1em;
  display: inline-block;
  font-family: sans-serif;
}
}
@media (max-width:303px) {
  .a{
  display: none;
}
.btn{
  display: none; 
}
}
